.btn-modal{
    background-color: #35b08b;
    border: solid black 1.5px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: 2.5rem;
    padding: 10px;
}

.btn-modal:hover{
    cursor: pointer;
}

.modal-window{
    background-color: rgba(200, 200, 200, 0.75);
    position: fixed;
    top:0; right:0; left:0; bottom:0;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.modal-window:target{
    opacity: 1;
    pointer-events: auto;
}

.modal-window > div{
    width: 30vw;
    margin: 15% auto;
    position: relative;
    background-color: #fff;
    color: #444;
}

.modal-window2{
    background-color: rgba(200, 200, 200, 0.75);
    position: fixed;
    top:0; right:0; left:0; bottom:0;
    display: none;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.modal-window2 > div{
    width: 30vw;
    margin: 15% auto;
    position: relative;
    background-color: #fff;
    color: #444;
}
